body {
  background-color: #fc9eaa4b;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 30px;
}

.products-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px;
  background-color: rgba(255, 194, 199, 0.699);
  border: 1px solid #f3a38ac9;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 2px 8px rgb(0, 0, 0);
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.precio {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 245, 245);
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  opacity: 0.8;
}

.cart {
  margin-top: 40px;
  background-color: rgba(240, 166, 182, 0.89);
  padding: 20px;
  border-radius: 12px;
  border: 2px solid black;
}
